@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  max-width: 1330px;
  margin: 0 auto;
  text-align: center;
}

:root{
  --bg-color-primary: white;
  --bg-color-secondary: black;
}

.pufiwhite{
  font-family: 'Fredoka One', cursive;
  color: var(--bg-color-primary);
}

.pufiblack{
  font-family: 'Fredoka One', cursive;
  color: var(--bg-color-secondary);
}

.letter {
  font-family: 'Poppins', sans-serif;
  color: var(--bg-color-primary);
  font-weight: bold;
}

.letter_cont {
  font-family: 'Poppins', sans-serif;
  color: var(--bg-color-secondary);
  font-weight: bold;
}

.cuenta {
  font-family: 'Prompt', sans-serif;
  color: var(--bg-color-primary);
  font-size: 12px;
}
.cuentablack {
  font-family: 'Prompt', sans-serif;
  color: var(--bg-color-secondary);
}
.gray{
  color: gray;
}
.navbar-nav .show>.nav-link {
  color: var(--bg-color-primary);
}
.nav-link{
  color: var(--bg-color-primary);
}
.boton_card {
  border-radius: 0px;
  border-color: var(--bg-color-primary);
  color: var(--bg-color-primary);
  width: 150px;

  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
}

p {
  font-size: 12px;
}